<!doctype html>
<html class="<%if (typeof data.rootClass !== 'undefined'){ %><%= data.rootClass %><%}%>" lang="">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Barber Garage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/all<%if (typeof timestamp !== 'undefined'){ %>.<%= timestamp %><%}%>.css">
</head>
<body>
<div class="<%if (typeof data.containerClass !== 'undefined'){ %><%= data.containerClass %><%}%>">
  <nav class="nav-main nav-small">
    <div class="logo-wrapper">
      <a href="/">
        <img src="/img/logo_barber_garage.png" class="logo-barber-garage" alt="Barger Garage Logo">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-tel">
        <a href="https://booksy.net/pl-pl/2316_barber-garage_barberzy_3_warszawa" target="_blank">
          <%- data.locales.reservations %>
        </a>
      </li>
      <li class="nav-tel">
        TEL: 515 737 877
      </li>
      <li class="nav-section">
        <a href="/barber" class="<%if (typeof data.active !== 'undefined' && data.active === 'barber'){ %>active<%}%>">
          Barber
        </a>
      </li>
      <li class="nav-section">
        <a href="/garage" class="<%if (typeof data.active !== 'undefined' && data.active === 'garage'){ %>active<%}%>">
          Garage
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </li>
      <li class="nav-lang">
        <a href="/" class="<%if (typeof data.language !== 'undefined' && data.language === 'pl'){ %>active<%}%>">
          PL
        </a>
      </li>
      <li class="nav-lang">
        <a href="/en/" class="<%if (typeof data.language !== 'undefined' && data.language === 'en'){ %>active<%}%>">
          EN
        </a>
      </li>
    </ul>
    <div class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="nav-mobile-list">
      <div class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </div>
      <div class="nav-lang">
        <a href="/" class="<%if (typeof data.language !== 'undefined' && data.language === 'pl'){ %>active<%}%>">
          PL
        </a>
        <a href="/en/" class="<%if (typeof data.language !== 'undefined' && data.language === 'en'){ %>active<%}%>">
          EN
        </a>
      </div>
      <div class="nav-section">
        <a href="/barber">
          Barber
        </a>
        <a href="/garage">
          Garage
        </a>
        <a href="https://booksy.net/pl-pl/2316_barber-garage_barberzy_3_warszawa" target="_blank">
          <%- data.locales.reservations %>
        </a>
      </div>
      <div class="nav-contact">
        <div>
          <label>Zadzwoń</label>
          515 737 877
        </div>
        <div>
          <label>Napisz</label>
          biuro@barbergarage.pl
        </div>
      </div>
    </nav>
  </nav>
