  <nav class="nav-homepage">
    <ul class="nav-list">
      <li>
        <a data-scroll href="#home" class="nav-home__link link-home active">
          home
        </a>
      </li>
      <li>
        <a data-scroll href="#barber" class="nav-home__link link-barber">
          barber
        </a>
      </li>
      <li>
        <a data-scroll href="#garage" class="nav-home__link link-garage">
          garage
        </a>
      </li>
      <li>
        <a data-scroll href="#contact" class="nav-home__link link-contact">
          contact
        </a>
      </li>
    </ul>
  </nav>
  <main id="home" class="section intro">
    <button class="intro-btn-play intro-btn-play--playing">
      <span class="icon-play-outline"></span>
      <span class="icon-pause-outline"></span>
    </button>
    <button class="intro-btn-volume intro-btn-volume--muted">
      <span class="icon-volume-high"></span>
      <span class="icon-volume-off"></span>
    </button>
    <div id="embed_container" class="embed-container">
      <iframe src="https://player.vimeo.com/video/155022290?autoplay=1&loop=1?api=1&background=1&player_id=video" id="video"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
      </iframe>
    </div>
  </main>
  <section id="barber" class="section barber">
    <div class="section__inner">
      <img src="/img/barber_icon.png" alt="barber">
      <p>
        <%- data.locales.homepage.barber %>
      </p>
      <a href="https://booksy.net/pl-pl/2316_barber-garage_barberzy_3_warszawa"
         target="_blank"
         class="button-reservation">
           <%- data.locales.reservations %>
       </a>
      <a class="link-read-more" href="<%= data.urls.barber %>"><%- data.locales['read more'] %></a>
    </div>
  </section>
  <section id="garage" class="section garage">
    <div class="section__inner">
      <img src="/img/garage_icon.png" alt="garage">
      <p>
        <%- data.locales.homepage.garage %>
      </p>
      <a href="<%= data.urls.garage %>"><%- data.locales['read more'] %></a>
    </div>
  </section>
</div>
<footer id="contact">
  <div id="map"></div>
  <div class="contact-wrapper">
    <ul>
      <li>
        <img class="contact-logo-img" src="/img/barber_map_icon_small.png" alt="Barber Logo">
        <address class="contact-address">
          <h1>Barber</h1>
          <div class="contact-info contact-info--strong">
            <%- data.locales.footer.open %>
          </div>
          <div class="contact-info">
            ul. Grzybowska 61 lok.3<br />
            00-844 Warszawa
          </div>
          <div class="contact-info">
            tel. 515 737 877<br />
            email: biuro@barbergarage.pl
          </div>
        </address>
      </li>
      <li>
        <img class="contact-logo-img" src="/img/garage_map_icon_small.png" alt="Garage Logo">
        <address class="contact-address">
          <h1>Garage</h1>
          <div class="contact-info">
            ul. Modlińska 41<br />
            03-199 Warszawa
          </div>
          <div class="contact-info">
            tel. 22 811 32 05<br/>
            tel. 514 201 301
          </div>
        </address>
      </li>
    </ul>
  </div>
</footer>
<script src="/js/vendor/google_maps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoOR4C6Gv4EPmBrPX6L_BM08BDk8lo5rk&callback=initMap">
</script>
